<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
  <script type="text/javascript" src="https://me.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=34rzON3v_ugDRzHg51kkfaWcV3-gbJcRm2hqYZrtL5dqnED1R4bvNgvlO6gCBo0u12txVhCBUfFtLn6YgaICBM8aGhsiSmbS8CsW-p8cqMob5S6xiY1LFCWkkhh8vPZVobrPpqNKYjnNV_yQqZ3Jrg" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://me.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9jZG4uZGlzY29yZGFwcC5jb20vYXR0YWNobWVudHMvMTA3ODEwNzE0OTQxNjI3MTkxNC8xMDk4MzU0MzQ5MzMzMjk1MTE0L2Fib3V0Lmh0bWw"/></head>
  <body>
    <div class="wrapper">
      <hr>
      
      <h1 style="color: ghostwhite;">About Team 6&nbsp<button onclick="history.back()" style="left:0">Go Back</button></h1>
      <div class="cols">       
          <div class="firstcol" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
                <div class="inner"> 
                  <p>Mariam Abraham</p>
                  <span>JIRA Manager & Developer</span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
                <div class="inner">
                  <p>Firew Shafi</p>
                  <span>Database Manager & Developer</span>
                </div>
              </div>
	
              <div class="back">
                <div class="inner">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front" style="background-image: url(https://unsplash.it/504/504/)" >
                <div class="inner">
                  <p>Clayton Ross</p>
                  <span>Tester & Developer</span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front" style="background-image: url(https://unsplash.it/505/505/)">
                <div class="inner">
                  <p>Auguste Kiendrebeogo</p>
                  <span>Researcher & Developer</span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front" style="background-image: url(https://unsplash.it/506/506/)">
                <div class="inner">
                  <p>Feson Kassaye</p>
                  <span>Researcher & Developer</span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <p> </p>
                </div>
              </div>
            </div>
          </div>
       
        </div>
     </div>
   
  </body>
  
</html>
