<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
  </head>
  <body>
    <div class="wrapper">
      <hr>
      
      <h1 style="color: ghostwhite;">About Team 6&nbsp<button onclick="history.back()" style="left:0">Go Back</button></h1>
      <div class="cols">       
          <div class="firstcol" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
                <div class="inner"> 
                  <p>Mariam Abraham</p>
                  <span>JIRA Manager & Developer</span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
                <div class="inner">
                  <p>Firew Shafi</p>
                  <span>UX Designer & Developer</span>
                </div>
              </div>
	
              <div class="back">
                <div class="inner">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front" style="background-image: url(https://unsplash.it/504/504/)" >
                <div class="inner">
                  <p>Clayton Ross</p>
                  <span>Tester & Developer</span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front" style="background-image: url(https://unsplash.it/505/505/)">
                <div class="inner">
                  <p>Auguste Kiendrebeogo</p>
                  <span>Researcher & Developer</span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front" style="background-image: url(https://unsplash.it/506/506/)">
                <div class="inner">
                  <p>Feson Kassaye</p>
                  <span>Researcher & Developer</span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <p> </p>
                </div>
              </div>
            </div>
          </div>
       
        </div>
     </div>
   
  </body>
  
</html>
