<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating</title>

    <link rel="stylesheet" href="../static/credit_style.css">
</head>
<body>
    <div class="container">    
        <div class="pay-offer"> 
            <div class="yearly-box">
                <div class="yearly-text inter-normal-white-12px">YEARLY</div> 
                <div class="yearly-price inter-normal-white-40px">$96</div>
            </div>    

            <div class="monthly-box">
                <div class="monthly-text inter-normal-white-12px">MONTHLY</div> 
                <div class="monthly-price inter-normal-white-40px">$13</div>
            </div>         
               
            <div class="quarterly-box">
                <div class="quarterly-text inter-normal-white-12px">QUARTERLY</div> 
                <div class="quarterly-price inter-normal-white-40px">$24</div>
            </div>
        </div>

        <div class="pay-offer"> 
            <div class="credit-card">
                <form>
                    <input type="text" placeholder="xxxx-xxxx-xxxx-xxxx" id="card-number" name="card-number" required>
                    <input type="text" placeholder="FIRST NAME" id="card-holder-name" name="card-holder-name" required>
              
                    <div class="expiry-date-cvv">
                        <input type="text" placeholder="MM-YY" id="expiry-date" name="expiry-date" placeholder="MM / YY" required>                            
                       <input type="text" placeholder="CVV" id="cvv" name="cvv" required>
                    </div>
                    <button type="submit" id="submit-button">Submit</button>
                </form>        
            </div>
        </div>
        

        </div>

        <!--Glass creddit card section-->   

</body>
</html>